*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
a{
	text-decoration:none;
	padding:5px;
}
a{
	text-decoration:none;
	padding:5px;
}
ul,li,ol{
	list-style:none;
}
body{
  background-color:black;
  color:#00ff00;
}

/*header*/
header .navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:20px;
  background-color:#001a00;
}
header .navigator .logo {
  font-size: 1.3rem;
  padding-left:20px;
}
header .navigator .hamburger {
  margin-right: 20px;
  font-size:30px;
  cursor: pointer;
}
header .navigator .hamburger:hover{
  background-color: #000000;
}
header .navigator a {
  text-decoration: none;
  color:#00ff00;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
header .navigator .links {
    position:absolute;
  width: 100%;
  top: 4rem;
  background-color: #001a00;
}
header .navigator .links a{
  display: block;
  text-align: center;
  padding: 5px;
}
header .navigator .links a:hover {
  background-color: #00ff00;
  color:black;
  font-size:1.3rem;
  border-radius:5px;
}
header .navigator .hide {
  display: none;
}
@media screen and (min-width: 825px) {
  header .navigator .links{
    display: block;
    position: static;
    width: auto;
	margin-right: 20px;
    background: none;
  }
  header .navigator .links a {
    display: inline-block;
	padding: 10px;
  }
  header .hamburger {
    display: none;
  }
  header .navigator .logo {
    font-size:30px;
  }
}


/*section*/
section{
  margin:2%;
  border:2px solid #333;
  box-shadow: 0 0 10px #fff;
  border-radius:10px;
}
section .container h3{
	margin:1.5%;
	padding-left:2%;
	font-style:italic;
}
section .container .details{
	display:flex;
	font-size:15px;
	margin:2%;
	border:2px solid #333;
}
section .container .details .image img{
	margin:10px;
	width:130px;
	height:180px;
	border-radius:10px;
}
section .container .details .matter ul{
	list-style:none;
	color:white;
	padding:10px;
}
section .container .details .matter ul label{
	color:#000000;
	padding:5px;
	background-color:#00ff00;
	font-size:1rem;
	border-radius:3px;	
}
section .container .trailer{
	width:96%;
	height:400px;
	margin:2%;
	border:2px solid #333;
}
section .container .songs{
	width:96%;
	height:400px;
	margin:2%;
	border:2px solid #333;
}
section .container .movie{
	width:96%;
	height:auto;
	margin:2%;
	border:2px solid #333;
}
section .container .movie video{
	margin:5%;
	border:2px solid #333;
}
section .container .movie table{
	margin:2%;
	margin-left:20%;
}
section .container .movie table tr td a{
	text-align:center;
	background-color:green;
	color:white;
	border-radius:5px;
}
section .container .movie table tr td a:hover{
	border:2px solid white;
	box-shadow: 0 0 10px white;
}
section .container .movie table tr td a:active{
	border:2px solid #00ff00;
	box-shadow: 0 0 10px #00ff00;
}

@media screen and (max-width: 600px) {
	section .container .details{
		display:unset;
	}
}
/*footer*/
footer h3{
	margin-left:2%;
	font-style:italic;
}
footer ul{
	list-style:none;
	padding-left:5%;
}
#about,#help,#contactus{
	padding:2%;
}

