*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
a{
	text-decoration:none;
	padding:5px;
}
ul,li,ol{
	list-style:none;
	padding-left:10%;;
}
body{
  background-color:black;
  color:#00ff00;
}

/*header*/
header .navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:20px;
  background-color:#001a00;
}
header .navigator .logo {
  font-size: 5vw;
  padding-left:20px;
}
header .navigator .hamburger {
  margin-right: 20px;
  font-size:30px;
  cursor: pointer;
}
header .navigator .hamburger:hover{
  background-color: #000000;
}
header .navigator a {
  text-decoration: none;
  color:#00ff00;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
header .navigator .links {
  position:absolute;
  width: 100%;
  top: 4rem;
  background-color: #001a00;
}
header .navigator .links a{
  display: block;
  text-align: center;
  padding: 5px;
}
header .navigator .links a:hover {
  background-color: #00ff00;
  color:black;
  font-size:1.3rem;
  border-radius:5px;
}
header .navigator .hide {
  display: none;
}
@media screen and (min-width: 825px) {
  header .navigator .links{
    display: block;
    position: static;
    width: auto;
	  margin-right: 20px;
    background: none;
  }
  header .navigator .links a {
    display: inline-block;
	  padding: 10px;
  }
  header .hamburger {
    display: none;
  }
  header .navigator .logo {
    font-size:30px;
  }
}

/*section*/
.container{
  width:96%;
  margin:2%;
  border-radius:10px;
  height:auto;
}
/*section-options*/
/*.container .options{
  background-color:#001a00;
  list-style:none;
  font-size:20px;
  border-radius:10px;
}
.container .options li{
  padding: 15px;
  text-align:center;
  display: inline-block;
}
.container .options li:hover{
	background-color:#b3ffb3;
	border-radius:10px;
	color:black;
}
.container .options li:active{
	background-color:blue;
}
*/
/*section-container*/
/* search-bar */
.container .movies_container .search_bar {
  background-color:#002200;
  border-radius:10px;
  margin:2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .movies_container .search_bar input{
  width:100%;
  background-color: transparent;
  height: 40px;
  max-width: 700px;
  font-size: large;
  color: white;
  border: 0; 
  flex: 1;
  padding-left:2%;
}

.container .movies_container .search_bar button{
  border-radius: 50%;
}

.container .movies_container .search_bar button img{
  width:40px;
  height:40px;
  border-radius: 50%;
  border: 0;
}

/*section-container-movie_container*/
.container .movies_container .movies {
  display:flex; 
  flex-wrap:wrap;
}

.container .movies_container .movies .movie{
  margin:10px;
  flex: 1 0 130px;
  border: 1px solid white;
  border-radius: 10px;
}

.container .movies_container .movies .movie img{
  width:100%;
  height:85%;
  border-radius: 10px 10px 0 0;
}

.container .movies_container .movies .movie .name{
  text-align:center;
  color:#00ff00;
}

.container .movies_container .movies .movie:hover{
	border:2px solid #333;
	box-shadow: 0 0 10px #fff; 
	border-radius:10px;
}
.container .movies_container .movie:active{
	border:2px solid #00ff00;
	box-shadow: 0 0 10px #00ff00;
	border-radius:10px;
}

/*footer*/
footer{
  font-size:15px;
  margin:0 2% 0 2%;
}

footer ul{
	list-style:none;
  margin-left:-20%;
}
#about,#help,#contactus{
	padding:2%;
}
@media screen and (max-width: 500px) {
	footer{
		font-size:10px;
	}
}